<div class="d-flex vh-100" *ngIf="!isLoginPage && !isNotFoundPage">
    <aside class="sidebar d-flex flex-column">
        <div class="sidebar-header mx-5">
             <h2 class="h4"><span class="highlight">XonTel</span> Dash</h2>
        </div>
        <ul class="nav flex-column flex-grow-1">
            <li class="nav-item">
                <a routerLink="/home" routerLinkActive="active" class="nav-link">
                    {{ 'SIDEBAR.DASHBOARD' | translate }}
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/posts" routerLinkActive="active" class="nav-link">
                    {{ 'SIDEBAR.POSTS_LIST' | translate }}
                </a>
            </li>

            <div style="opacity: 0.2;">
                <hr>
            </div>

            <li class="nav-item">
                <a class="nav-link" (click)="logout()"> 
                    {{ 'SIDEBAR.LOGOUT' | translate }}
                </a>
            </li>
        </ul>
    </aside>

    <div class="main-content flex-grow-1 d-flex flex-column">
        <header class="header bg-white shadow-sm p-3 d-flex justify-content-between align-items-center">
            <div>
                <div>
                    <input type="text" class="form-control search-input" [placeholder]="'HEADER.SEARCH' | translate" style="width: 300px;">
                </div>
            </div>
            <div class="d-flex align-items-center">
                <span class="me-4 position-relative">
                    🔔
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        3
                        <span class="visually-hidden">unread notifications</span>
                    </span>
                </span>
                <div class="row">
                    <div class="dropdown me-2 col-1">
                        <span>
                            <div [ngClass]="currentLang == 'en' ? 'ukflag' : 'egyflag'"></div>
                        </span>
                    </div>
                    <button class="btn col-9 dropdown-toggle" style="border: none; padding-top: 0px;" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <span *ngIf="currentLang === 'en'">English</span>
                        <span *ngIf="currentLang === 'ar'">العربية</span>
                    </button>
                    <ul class="dropdown-menu col-1" aria-labelledby="languageDropdown">
                        <li><a class="dropdown-item" (click)="switchLanguage('en')">en English</a></li>
                        <li><a class="dropdown-item" (click)="switchLanguage('ar')">ar العربية</a></li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    <div class="avatar me-2">
                        <div class="img"></div>   
                    </div>
                    <div class="user-info">
                        <div class="user-name">{{currentLang == 'en' ? 'Nada Alaa' : 'ندى علاء'}}</div>
                        <div class="user-role text-muted">{{currentLang == 'en' ? 'Admin' : 'المدير'}}</div>
                    </div>
                </div>
            </div>
        </header>

        <main class="content-area p-4 bg-light flex-grow-1">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>

<div class="vh-100" *ngIf="isLoginPage || isNotFoundPage">
    <router-outlet></router-outlet>
</div>

@if(showLoader){
    <div class="loader-overlay">
        <div class="loader-container">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
}